.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/find.xml
.idea/sonarIssues.xml
target/**/*
colaborador-cds-app/.settings
colaborador-cds-app/.sass-cache/**/*
colaborador-cds-app/bower_components/**/*
colaborador-cds-app/node_modules/**/*
colaborador-cds-app/build/**/*
colaborador-cds-app/node
colaborador-cds-app/node/*
colaborador-cds-service/.settings
colaborador-cds-service/colaborador-cds-service.iml
colaborador-cds-service.iml
colaborador-cds-service/target/**/*
/colaborador-cds-service/*.project
/colaborador-cds-service/*.classpath
/colaborador-cds-service/.forge_settings
/colaborador-cds-service/.project
.metadata
.metadata/
.recommenders/
Servers/
RemoteSystemsTempFiles/
.Servers/
.settings
.project