<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Erro 404</h1>
                        <h2 class="font-xl"><strong>{{getWord('urlAcessadaNemExiste')}}</strong></h2>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
