<header id="header">
	<div id="logo-group"></div>
	<!-- pulled right: nav area -->
	<div class="pull-right">
		<div id="logout" class="btn-header transparent pull-right">
			<span> <a ui-sref="app.login" title="Sair"
				data-action="userLogout"><i class="fa fa-sign-out"></i></a>
			</span>
		</div>
		<div id="search-mobile" class="btn-header transparent pull-right"
			data-search-mobile>
			<span> <a href="#" title="Search"><i class="fa fa-search"></i></a>
			</span>
		</div>
		<language-selector></language-selector>
	</div>
</header>
